@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", sans-serif;
    list-style: none;
}

/*  -------------------------------------------------Começo header--------------------------------------- */ 

header {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color:#340735;
}

header img {
    width:100px;
   
     
}




header nav ul  {
    display: flex;

}

header nav ul li {
    margin: 30px;

}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    transition: 0.8s;
    color: #3300ff;

}

/* -----------------------------------------fim do header----------------------------------------------- */

.section-01 {
    padding: 180px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.753) 8.33%, rgba(128, 0, 128, 0.658) 100%), url(imagens/restaurante\ tema.jpg);
   justify-content: center;
   align-items: center;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;

   
    

}

.section-01 img {
    width: 940px;
    height: 550px;
    margin-left: 20px;
    margin-top: 45px;

}

.section-01 h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
    
}

.section-01 li {
    font-size: 30px;
    color: white;
}


.section-01 button {
    width: 300px;
    padding: 10px;
    background-color: rgb(77, 0, 107);
    color: rgb(255, 252, 249);
    border-radius: 12px;
    margin-top: 15px;
    border-color: rgb(255, 255, 255);

}

.section-01 button:hover {
    background-color: #7a005c;
    color: white;
    border-color: rgb(73, 72, 72);
    transition: 0.8s;
}

/*---------------------------------- FIM DA SESSAO01-------------------------------------- */


.section-02 {
    padding: 280px;
    background:linear-gradient(180deg,#202249 8.33%,#595ea3 100% );

}

.section-02 h2 {
    color: red;
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.div-pai-img  {
    gap:35px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.div-pai-img div {
    width:200px;
    height: 300px;
    background-color:#ad9a6f;
}


.div-pai-img .div-filho01 {
    background-image: url(imagens/hamburguer\ spider.jpeg) ;
    background-position: center;
    background-size: cover;
}

.div-pai-img .div-filho02 {
    background-image: url(imagens/hamburguer\ monstro.jpeg) ;
    background-position: center;
    background-size: cover;
}

.div-pai-img .div-filho03 {
    background-image: url(imagens/hamburguer\ game\ 01.jpg) ;
    background-position: center;
    background-size: cover;
}

.div-pai-img .div-filho04 {
    background-image: url(imagens/it\ copo.jpeg) ;
    background-position: center;
    background-size: cover;
}

.div-pai-img .div-filho05 {
    background-image: url(imagens/zombieburger03.jpg) ;
    background-position: center;
    background-size: cover;
}

.div-pai-img .div-filho06 {
    background-image: url(imagens/hamburguer\ st.jpg);
    background-position: center;
    background-size: cover;
}

/* ---------------------------------------------------fim section02--------------------------------------- */



.section-03 {
    padding: 180px;
    background-color: #6e6662 ;

}

.section-03 h2 {
    font-size: 33px;
    color: white;
}

.section-03 h4 {
    color: red;
    font-size: 22px;

}

.section-03 p {
    font-size: 20px;
    color: white;
}

footer {
    padding: 30px;
    background-color: #4f364a ;
   justify-content: space-evenly;
   display: flex;
   
}

footer img {
    width: 180px;
    


}

footer i {
    font-size: 40px;
    margin-top: 90px;
    
}

footer .div-icone {
   gap: 30px;
    display: flex;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    
}

footer i:hover {
    transition: 0.8s;
    color: #86030e;
}