* {
    margin: 0px;
    padding: 0px;
}

/* --------------------------------------Começo da section01------------------------------------------ */

.section-01{
    padding: 500px;
    background-image: url(imagens/galagol.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    align-items: center;
    justify-content: center;
    display: flex;

}

.section-01 .div-formulario {
    background-color: rgba(0, 0, 0, 0.521);
    padding: 80px;
    width: 380px;
  box-shadow: 50px 50px 40px;
 

}

.section-01 button {
    padding: 3px;
    width: 110px;
    background-color: rgb(255, 252, 252);
    color: rgb(0, 0, 0);
    border-color: rgb(17, 5, 59);
    border-radius: 12px;
}
.section-01 button:hover {
    transition: 0.8s;
    background-color: blueviolet;
    color: white;
}

.section-01 input {
    border-color: rgb(78, 78, 78);
    box-shadow: 10px 10px 15px purple;
}

.section-01 h1 {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}