@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Oswald", sans-serif;
    list-style: none;
}

/* -------------------------------------------------Começo header--------------------------------------- */

header {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color:#340735;
}

header img {
    width:100px;
   
     
}

header nav ul  {
    display: flex;

}

header nav ul li {
    margin: 30px;

}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    transition: 0.8s;
    color: #3300ff;

}

/*---------------------------------------FIM HEADER---------------------------------------------*/


/* --------------------------------------começo da section01------------------------------------- */
.section-01 {
     padding: 20px;
    background-image: url(imagens/-texture.jpg);
    background-size: cover;
    background-position: end;
    background-attachment: fixed;

}

.section-01 h1 {
    color: white;
}

/* -------------------------------------------fim da sention01-------------------------------------- */

/* ----------------------------------------------começo da section02----------------------------------- */

.section-02 {
    background-color:#340735;
    display: flex;
    justify-content: space-evenly;
    padding: 130px;
}

.section-02 img {
    width: 800px;
}

.section-02 p {
    padding: 5px;
    font-size: 20px;
    color: white;
}

/* ----------------------------------- fim da section02 --------------------------------------------------- */

/* ----------------------------------------Começo da section03---------------------------------------------- */
.section-03{

    padding:180px;
    background-image: url(imagens/-texture.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;



 }

 .section-03 img {
    width: 300px;
    margin: 20px;

 }


 .section-03 h2 {
    font-size: 40px;
    color: red;
    margin-left: 20px;
    margin-bottom: 20px;
 }

 .section-03 p {
    font-size: 20px;
    color: white;
    margin-left: 40px;
 }

 /* ------------------------------------------------Fim da section03---------------------------------------------- */

 /* --------------------------------------------------Começo footer----------------------------------------------- */

 footer {
    padding: 30px;
    background-color: #4f364a ;
   justify-content: space-evenly;
   display: flex;
   
}

footer img {
    width: 180px;
    


}

footer i {
    font-size: 40px;
    margin-top: 90px;
    
}

footer .div-icone {
    gap: 30px;
     display: flex;
 }

footer a {
    text-decoration: none;
    color: #ffffff;
    
}

footer i:hover {
    transition: 0.8s;
    color: #86030e;
}

/* -----------------------------------------------Fim footer--------------------------------------------- */